        </div><!-- end container -->
        <!-- start footer -->
        <div class="footer-padding">
            <div class="footer">
                <p>
                    &copy; copyright by
                    <em>
                        Shoaib Fateh
                    </em>
                </p>
            </div>
        </div><!-- end footer -->
    </body>
</html>