<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily Journal</title>
    <!-- link style -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- link style by bootstrap --> 
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- link for styles // about page -->
    <link rel="stylesheet" href="/css/style.about.css">
    <!-- font awsome -->
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
</head>
<body>
    <!-- start navbar -->
    <nav class="navbar navbar-nav navbar-default navbar-expand-sm">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">DAILY JOURNAL</p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!-- 6 -->
                <li id="home" class="nav-item"><a href="/" class="nav-link">HOME</a></li>
                <li id="home" class="nav-item"><a href="/about" class="nav-link">ABOUT US</a></li>
                <li id="home" class="nav-item"><a href="/contact" class="nav-link">CONTACT US</a></li>
                <li id="home" class="nav-item"><a href="/compose" class="nav-link">COMPOSE</a></li>
            </ul>
        </div>
    </nav><!-- end navbar -->

    <!-- start container -->
    <div class="container content">